.nav-item span {
  text-transform: capitalize;
  text-align: left;
}

.current-link {
  padding: 0;
  border-radius: 25px;
  background-color: #FEDC47;
  color: white;
}

.sidebar .nav-item .nav-link {
  padding: 0.2rem 0 0.2rem 0.5rem;
}

.current-link-text {
  color: white;
}

.menu-btn {
  font-size: 1.8rem;
}

.navbar-nav {
  display: none;
  width: 130px!important;
}

.menu-shown {
  display: block;
}

.nav-item {
  width: 120px;
}

@media (max-width: 768px) {
  .nav-item, .navbar-nav {
    width: auto;
  }
}
