.nav-item span {
  text-transform: capitalize;
  text-align: left;
}

.current-link {
  padding: 0;
  border-radius: 25px;
  background-color: #FEDC47;
  color: white;
}

.sidebar .nav-item .nav-link {
  padding: 0.2rem 0 0.2rem 0.5rem;
}

.current-link-text {
  color: white;
}
