body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav-item span {
  text-transform: capitalize;
  text-align: left;
}

.current-link {
  padding: 0;
  border-radius: 25px;
  background-color: #fedc47;
  color: white;
}

.sidebar .nav-item .nav-link {
  padding: 0.2rem 0 0.2rem 0.5rem;
}

.current-link-text {
  color: white;
}

.menu-btn {
  font-size: 1.8rem;
}

.navbar-nav {
  width: 160px !important;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
}

.menu-shown {
  display: block;
}

.nav-item {
  width: 120px;
}

.top-bar {
  background-color: white;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  color: black;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .nav-item,
  .navbar-nav {
    width: auto;
  }
  .top-bar {
    display: block;
    margin-bottom: 1rem;
  }
}

.top-bar-left {
  max-width: 10rem;
}

.top-bar-left img {
  width: 100%;
}

.top-bar-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.company-name {
  background-color: black;
  color: white;
}

.new-campaign-btn {
  color: black;
}

.brand-name {
  background-color: #b1b1b1;
  color: white;
}

.company-name,
.new-campaign-btn,
.brand-name {
  font-size: 14px;
  padding: 0.6rem 3rem;
}

@media (max-width: 768px) {
  .company-name,
  .new-campaign-btn,
  .campaign-title {
    font-size: 12px;
    padding: 0.2rem 0.8rem;
  }
}

.new-campaign-btn:hover {
  text-decoration: none;
}

.campaign-image-preview {
  max-width: 100%;
}

.campaign-title {
  font-weight: 700;
  color: black;
  font-size: 1.6rem;
}

.card {
  border: none;
}

.card img {
  border-radius: 7px;
}

.campaign-dates {
  font-size: 12px;
  color: #b1b1b1;
}

.prevent-underline:hover {
  text-decoration: none;
}

.arrow {
  position: relative;
  bottom: 1.45px;
  vertical-align: middle;
  fill: black;
  font-size: 7px;
}

.user-icon-holder {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.user-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .with-links {
    padding: 0.6rem 1rem;
    margin: 0 3rem;
  }
}

.top-bar-right a {
  color: black;
}

.top-bar-right a:hover {
  text-decoration: none!important;
}

.top-bar-selected {
  background-color: #CFCDCE;
  border-radius: 40px;
}

.top-bar-link {
  font-size: 16px;
  padding: 0.3rem 1rem;
}

.anchor {
  line-height: 120px;
}
