.engine-xA8tAY4YSBmn2RTQqnnXXw {
  text-align: center;
  background: #000;
  color: #fff;
  /*height: 35.1vw;*/
  font-family: 'Roboto Condensed', sans-serif;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw.addon .ad,
.engine-xA8tAY4YSBmn2RTQqnnXXw.addon .time,
.engine-xA8tAY4YSBmn2RTQqnnXXw.addon .widget {
  padding: 0.35vw;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw.addon .ticker {
  margin: 0.35vw;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .container-xA8tAY4YSBmn2RTQqnnXXw {
  width: 100%;
  position: absolute;
  /*
  display: flex;
  align-items: flex-start;
  justify-content: center;
  */
  top: 0;
  padding: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  height: 100%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .top {
  height: 100%;
  overflow: hidden;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw.addon .top {
  height: calc(100% - 0.35vw);
}
.engine-xA8tAY4YSBmn2RTQqnnXXw.hasBottom .top {
  height: 80%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .ad {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .widget {
  display: none;
  width: 19.2%;
  float: right;
  height: 100%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .app {
  font-size: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .weather {
  background: rgb(110,210,255);
  background: linear-gradient(142deg, rgba(110,210,255,1) 0%, rgba(0,84,155,1) 100%);
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .weather img {
  width: 75%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  width: 100%;
  height: 20%;
  overflow: hidden;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .time {
  margin: 0 1vw ;
  float: left;
  font-size: 3.75vw;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .ticker {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .ticker-content {
  text-indent: 90vw;
  padding-right: 90vw;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .ticker span {
  margin: 0 1rem;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw video {
  object-fit: fill;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw iframe {
  width: 100%;
  overflow: hidden;
  border: 0;
  height: 100%;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw iframe body { 
  overflow:hidden; 
}
@keyframes enginefadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 
@keyframes enginefadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;} 
} 
.engine-xA8tAY4YSBmn2RTQqnnXXw .fadeOut-xA8tAY4YSBmn2RTQqnnXXw {
  animation-name: enginefadeOut;
  animation-duration: 0.4s;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .fadeIn-xA8tAY4YSBmn2RTQqnnXXw {
  animation-name: enginefadeIn;
  animation-duration: 0.4s;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .info { 
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9px;
  color: rgba(100,240,100,0.3);
  font-family: "Bitstream Charter";
  z-index: 1000;
}
.engine-xA8tAY4YSBmn2RTQqnnXXw .debug {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-family: monospace;
  height: 35vw;
  width: 40rem;
  text-align: left;
  overflow-Y: auto;
  font-size: .8vw;
  white-space: pre;
}
