.engine video {
  object-fit: fill;
}
.engine video, .engine img { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes enginefadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 
@keyframes enginefadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;} 
} 
.engine .fadeOut {
  animation-name: enginefadeOut;
  animation-duration: 0.4s;
}
.engine .fadeIn {
  animation-name: enginefadeIn;
  animation-duration: 0.4s;
}
