.scan-wrap {
  display: none;
}
.scan-wrap, #scanData {
  position: absolute;
  background-color: transparent;
  left: 2px;
  top: 20px;
  width: 45%;
  color: green;
  font-weight: bold;
  z-index: 1020;
}
