*.mkv
ScreenDisplay/assets/*.png
ad-platform.db
node_modules
*.swp
*.swo
vendor
AdDaemon/lib/const.php
tools/package-lock.json
ScreenDisplay/assets/
power-history
Linux/fai-config/files/home/pip/*.whl
Linux/fai-config/files/home/pip/*.gz
