*.mkv
ScreenDisplay/assets/*.png
ad-platform.db
node_modules
*.swp
*.swo
vendor
tools/package-lock.json
ScreenDisplay/assets/
power-history
Linux/keys/ScreenAccess
Linux/fai-config/files/home/pip/*.whl
Linux/fai-config/files/home/pip/*.gz
patch
__pycache__
