RewriteEngine On
RewriteBase /

Header set Access-Control-Allow-Origin "*"

RewriteRule ^$ MadisonAve/static/index.html
RewriteRule "^api/(.*)$" "AdDaemon/lib/ep.php?func=$1" [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ MadisonAve/static/$1 [L]
