{% extends "base.html" %}
{% block topbar %}
<span class="top-bar-right ml-4 mt-2">
  <div class="vertical-flex">
    <span class="company-name">Company</span>
  </div>
  <div class="vertical-flex">
    <a href="/campaigns/create" class="new-campaign-btn">New Campaign</a>
  </div>
</span>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="mt-2 mb-3">
    <span class="brand-name">Pending</span>
  </div>
  <div class="row card-group ml-1 campaign-list" id="pending-campaigns"></div>
  <div class="mt-4 mb-3">
    <span class="brand-name">Active</span>
  </div>
  <div class="row card-group ml-1 campaign-list" id="active-campaigns"></div>
  <div class="mt-4 mb-3">
    <span class="brand-name">Paused</span>
  </div>
  <div class="row card-group ml-1 campaign-list" id="paused-campaigns"></div>
</div>
{% endblock %}
{% block additionalScripts %}
<script src="/js/approvalIndex.js"></script>
{% endblock %}
