{% extends "base.html" %}
{% block content %}
  <style>
    form { float: right }
    #content-wrapper h4 { color: #000 }
    .form-control-file { display: none }
    .upload-button { margin-bottom: 0 }
    #notice { position: fixed; top:0; left:0; width: 100%; z-index: 100;display:none}
    .dropdown-menu > a.dark { color: #000;cursor: default }
  </style>
  <div class="container-fluid">
    <div class="campaign-list">
    </div>
  </div>
{% endblock %}
{% block additionalScripts %}
  <script src="{{ url_for('static', filename='js/campaignsIndex.js') }}"></script>
{% endblock %}
