{% extends "base.html" %}
{% block topbar %}
<span class="top-bar-right ml-4 mt-2">
</span>
{% endblock %}
{% block content %}
<style>
  #content-wrapper span { color: #000 }
  .id,.version { font-family: monospace }
  .edit { color: #999; cursor: pointer }
  .last { text-align: right }
  em { color: #555 }
  .table td {padding: .75rem .2rem; }
  td.edit { white-space: nowrap; }
  .modal-body span {
    min-width: 5rem; 
    display: inline-block;
    vertical-align: top;
  }
  #notice { position: absolute; top:0; left:0; width: 100%; z-index: 100;display:none}
</style>
<div class="container-fluid">
  <div class="mt-2 mb-3">
    <span class="brand-name brand-title">Brand #1</span>
  </div>
  <div class="row card-group ml-1 campaign-list" id="brand-list"></div>
</div>
{% endblock %}
{% block additionalScripts %}
<script src="{{ url_for('static', filename='js/brandsShow.js') }}"></script>
{% endblock %}
